<legend>Chat</legend>
<div class='row'>
  <div class='col-sm-5'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Message</h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for Message.new, html: { class: 'form-horizontal' }, remote: true do |f| %>
          <div class='form-group'>
            <%= f.label :user, class: 'col-xs-3' %>
            <div class='col-xs-9'>
              <%= f.input_field :user, placeholder: 'Enter Username', class: 'form-control' %>
            </div>
          </div>
          <div class='form-group'>
            <%= f.label :content, label: 'Message', class: 'col-xs-3' %>
            <div class='col-xs-9'>
              <%= f.input_field :content, placeholder: 'Enter Message', class: 'form-control' %>
            </div>
          </div>
          <%= f.submit 'Create Message', class: 'btn btn-block btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-sm-7'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>
      <ul class='list-group messages'>
        <%= render @messages.reverse %>
      </ul>
    </div>
    
  </div>
</div>
